.square {
    position: absolute;
    z-index: 1;
    height: 8px;
    width: 8px;
    background-color: rgba(43, 146, 202, 1);
}

.image {
    position: relative;
    z-index: -1;
    height: 800px;
    width: 800px;
    margin: 16px;
    border: 16px;
    background-color: #303f47;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: #303f47;
}