.square {
    position: absolute;
    z-index: 2;
    height: 20px;
    width: 20px;
    background-color: #2b92ca;
}

.image {
    position: relative;
    z-index: 1;
    height: 800px;
    width: 800px;
    background-color: #303f47;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}